@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');
.Header{
    padding: 21px 0;
    background: #01254e;
    h2{
        font-family: "Inter", sans-serif;
        font-size: 38px;
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    
    &__logo{
        display: flex;
        align-items: center;
        column-gap: 19px;
    }

    &__list ul , li{
        display: flex;
        align-items: center;
        column-gap: 32px;
        

        :hover{
            color: blue;
        }
    }
    &__profile img{
        width: 50px;
    }
}