
.Palitra {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;


  &__content {
    max-width: 900px;
    padding: 2rem;
    text-align: center;
    background-color: #292828;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;

  }

  &__description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #fff;
    padding: 1rem;
  }

  &__dropzone {
    border: 2px dashed #0c648a;
    cursor: pointer;
    border-radius: 8px;
    color: #999;
    transition: border-color 0.3s;
    &:hover {
      border-color: #616161;
    }
  }
  &__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 30px;
  }
  &__preview {
    margin: 1.5rem 0;
    
    
    img {
      max-width: 100%;
      width: 300px;
      border-radius: 8px;
      border: 1px solid #444;
    }
  }

  &__colorCount {
    margin-top: 1.5rem;
    .MuiInputLabel-root,
    .MuiSelect-select {
      color: #202020;
    }
    .MuiOutlinedInput-root {
      color: #fff;
      & fieldset {
        border-color: #6b6b6b;
      }
      &:hover fieldset {
        border-color: #000000;
      }
    }
  }

  &__button {
    margin-top: 2rem;
    background-color: #7aa4d4;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    &:hover {
      background-color: #326497;
    }
  }

  &__palette {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  &__colorBox {
    width: 60px;
    height: 60px;
    margin: 0.5rem;
    border-radius: 6px;
    border: 1px solid #666;
  }
}


.Palitra__uploadedImage {
  width: 500px;
  height: 500px;
  object-fit: contain;
  border-radius: 8px;
}

.Palitra__palette {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.Palitra__colorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Palitra__colorBox {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.Palitra__colorCode {
  margin-top: 5px;
  color: #333;
  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
}


.Palitra__colorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.Palitra__colorBox {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.Palitra__colorCode {
  color: #333;
  font-size: 15px;

}
